/* universal Selector */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  /* Name selector */
  body {
    background-color: rgb(195, 185, 204);
    color: white;
  }
  /* Id selector */
  #admin-box {
    width: 50%;
    border: 2px solid;
    margin: 10% auto;
    text-align: center;
    padding: 30px;
  }
  /* Combinator selector */
  #admin-box h1 {
    font-size: 35px;
    line-height: 35px;
    margin: 10px 0px;
    font-family: "Courier New", Courier, monospace;
  }
  
  /* Grouping selector */
  input,
  label {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  label {
    font-size: 20px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 400;
  }
  input {
    background-color: transparent;
    border: 2px solid;
    color: #fff;
  }
  /* Attribute selector */
  input[type="submit"] {
    margin: 15px auto;
  }
  /* Psudo class selector */
  input:focus {
    background-color: #fff;
    color: blueviolet;
  }
  input[type="submit"]:hover {
    background-color: #fff;
    color: blueviolet;
  }
  
  /* psudo elements selector */
  input::placeholder {
    color: #fff;
  }
  /* class selector */
  .pg {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pg a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
  
  /* For register page  */